[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
uvicorn = {extras = ["standard"], version = "*"}
alembic = "*"
sqlalchemy = "*"
supabase = "*"
psycopg2-binary = "*"
psycopg = {extras = ["binary"], version = "*"}
pydantic = "*"
pydantic-settings = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"

[requires]
python_version = "3"
